body {
  background: linear-gradient(
    160deg,
    rgb(191, 227, 247) 0%,
    rgb(232, 244, 253) 50%,
    rgb(214, 234, 248) 100%
  );
  font-family: "Quicksand", sans-serif;
}

h1 {
  color: #5a7f9e;
  margin: 0;
}

.search-form {
  max-width: 450px;
  margin: 20px auto;
  font-family: "Quicksand", sans-serif;
}

.search-form-input {
  width: 75%;
  border: 1px solid #c5dff0;
  border-radius: 25px;
  padding: 15px;
  background: rgb(255, 255, 255, 0.8);
  font-color: #82919f;
  font-size: 14px;
}

.search-form-button {
  background: #2e86c1;
  border: 1px solid #c5dff0;
  border-radius: 25px;
  padding: 15px;
  font-size: 14px;
}

.weather-app {
  max-width: 400px;
  margin: 10px auto;
  padding: 40px;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 25px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
